# Compiled class files
*.class
target/

# Log files
*.log

# IDE specific files
.idea/
*.iml
.vscode/
.settings/
.classpath
.project

# OS specific files
.DS_Store
Thumbs.db

# Maven
dependency-reduced-pom.xml

# Database
*.db
